@charset "UTF-8";


  @import url('https://fonts.googleapis.com/css2?family=Padyakke+Expanded+One&family=Passion+One&family=Sriracha&display=swap');
  @import url('https://fonts.googleapis.com/css2? family= Padyakke+Expanded+One & family= Passion+One & family= Sriracha & display=swap');
    :root{
        --font1:Verdana, "Geneva", Tahoma, sans-serif;
        --font2:'Passion One', "cursive";
        --font3:'Passion One', "cursive";
    }



* {
    margin: 0px;    
    padding: 0px;
    font-size: 1em;
}


html,body {
    min-width: 100vh;
    background-color: darkgray;
    font-family: var(--font1);

}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 4.5vw;
    font-family: var(--font2);
}
header > p {
    padding-bottom: 50px;
}

a {
    color:white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover {
    text-decoration: underline;
}
    section {
        padding-top: 8vh;
        padding-bottom: 8vh;
        line-height: 2em;
        padding-left: 25px;
        background-color: rgb(148, 147, 147);
        font-size: 1vw;
        font-family: var(--font3);
    }
section.normal {
    background-color: white;
    color: black;
}
section.imagem {
    background-color: rgba(0, 0, 0, 0.575);
    color:white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.322);
    background-attachment: fixed;

}
section.imagem>p {
    display: inline-block;
    padding: 5px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.589);
    text-shadow: 1px 1px 0px black;
}
section#img01 {
    background-image: url("../D1/imagens/background001.jpg");
    background-position: right center;
    background-size: cover;

}

section#img02 {
background-image: url("./imagens/background002.jpg");
background-size: cover;
}
footer {
 background-color: black;
 color: white;
 text-align: center;
 padding: 10px;   
}